{% extends 'base_master.html' %}
{% load django_bootstrap5 %}

{% block title %}
    Tech Blog - Update Profile
{% endblock title %}
    
{% block content %}
    <div class="container mt-3">
        <h1>Update Profile</h1>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-outline-primary" type="submit">Update</button>
            <a class="btn btn-outline-danger" href="{% url 'profiles:profile_detail' profile.id %}">Cancel</a>
        </form>
    </div>
{% endblock content %}
        